@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  transition-timing-function: ease-in;
}

.ITPbutton {
  border: 1px solid black;
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  width: 100%;
  padding: 6px 0;
  font-size: 0.75rem;
  line-height: 1rem;
}
.order-input {
  @apply py-1;
  padding-left: 0.5rem; /* pl-2 */
  border: 1px solid var(--border-color); /* border-border-color */
  border-radius: 4px; /* rounded-[4px] */
  font-family: "Roboto", sans-serif; /* font-roboto */
  font-weight: 400; /* font-normal */
  /* placeholder-color: var(--gray-color); placeholder-gray-color */
  width: 100%; /* w-full */
  outline: none; /* outline-none */
  color: var(--order-input); /* text-order-input */
}

@media screen and (min-width: 768px) {
  .ITPbutton {
    width: 150px;
    height: 30px;
  }
}

@media screen and (min-width: 1920px) {
  .ITPbutton {
    width: 232px;
    height: 40px;
  }
  .order-input {
    padding-top: 0.5rem; /* fullHd:py-2 */
    padding-bottom: 0.5rem; /* fullHd:py-2 */
    padding-left: 0.75rem; /* fullHd:pl-3 */
    font-size: 1rem; /* fullHd:text-base */
  }
}
